<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love blogs</title>
</head>
<body>
    <header>
        <h1>I HATE IT HERE</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
                {{#if loggedIn}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/" method="post">Logout</a></li>
                {{else}}
                <h2>WHY NO LOG IN </h2>
                    <li><a href="/login">Login</a></li>
                {{/if}}
    </header>
    
    {{{body}}}


    <footer>
        <p>©AAAAAAAAAAAAAAAAAAAA</p>
    </footer>
</body>
</html>
