<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/icon.png">
    <title>Not Another One</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>I HATE IT HERE</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><button id="logout" href="/" method="post">Logout</button></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
            </ul>
                {{/if}}
        </nav>
    </header>
    
    {{{body}}}

<script src="/js/logout.js"></script>
    <footer>
        <p>©AAAAAAAAAAAAAAAAAAAA</p>
    </footer>
</body>
</html>
